/* Main */

:root {
    /* --main-bg-color: #FFF8E7; */
    --alt-bg-color: rgb(191, 223, 250);
    /* --main-font-color: #FFFFFF; */
    /* --alt-font-color: rgba(0, 0, 0, 0.85); */
    /* --alt-font-color-light: rgba(0, 0, 0, 0.68); */
    --theme-primary: rgb(191, 223, 250);
    /* --box-shadow: 2px 2px 7px -1px rgba(0, 0, 0, 0.75); */
    /* background-color: rgb(112, 199, 236); */
  }
button {
    background-color: var(--theme-primary);
  }


body {
    margin: 0;
    background: linear-gradient(-45deg, #94d7f7, #65aef3, #2dc1f7, #bdecf8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
    display: grid;
    grid-template-areas: "nav nav nav nav" "profile content content content" "profile content content content" "profile content content content";
    grid-template-columns: 300px auto auto auto;
    grid-template-rows: [row1-start] 48px [row1-end] auto [last-line];
    height: 100vh;
    /* background-color: rgb(112, 199, 236); */
}

/* avatar */

#avatar {
    width: 150px;
}

/* timer */

#timer {
    background-color: rgb(191, 223, 250);
    grid-area: content;
    width: fit-content;
    padding: 15px;
    color: #e9e8f0;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
    
    /* border-radius: 5px; */
    box-shadow: inset 0px 0px 9px 5px white;
    box-sizing: border-box;
    /* border: 5px solid rgb(248, 249, 250); */
}

/* Add a black background color to the top navigation */

.topnav {
    /* background-color: rgb(67, 106, 236); */
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xKloyZ6p5LdUKNY4K2TspwHaE8%26pid%3DApi&f=1);
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.JjEaq3vc0uw8rxfC_cS_AwHaE8%26pid%3DApi&f=1); */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.SHQ0kBIog3M21fKSjST7RwHaFw%26pid%3DApi&f=1); */
    overflow: hidden;
    grid-area: nav;
}


  /* Style the links inside the navigation bar */
  .topnav div {
    
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #e9e8f0;
    font-size: 24px;
    text-shadow: 2px 2px 4px #000000;
    
  }

  .topnav img {
    display: block;
    float: left;
    width: 170px; 
    height: 100px; 
    padding-left: 20px;
    
  }
  
  /* Change the color of links on hover */
  .topnav div:hover {
    background-color: rgb(112, 199, 236);
    color: white;
}


/* Add a color to the active/current link */

/* .topnav div.active {
    background-color: #4CAF50;
    color: white;
} */
/* about display */

#about-display{
    text-align: center;
}


/* Aside */

aside {
    grid-area: profile;
    text-align: center;
    /* background-color: rgb(112, 199, 236); */
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
}

aside h1 {
    margin: 1rem;
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 2em;
}

aside h2 {
    margin: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #000;
}

aside .item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    transition: background-color .3s ease;
    line-height: 1.5rem;
    font-weight: bold;
}

aside ul#profile {
    width: 100%;
    padding: 10px;
    box-shadow: inset 0px 0px 9px 5px white;
    box-sizing: border-box;
    list-style-type: none;
    /* border-radius: 3%; */
}

aside li {
    list-style-type: none;
    display:inline-block
}



/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 60px;
    text-align: center;
    color: #e9e8f0;
    font-size: 24px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5px auto;
    /* 15% from the top and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* The Close Button */
/* 
.close {
    /* Position it in the top right corner outside of the modal */
    /* position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
} */ 

#modal {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
  }
  
  #login-form {
    background-color: rgb(64, 140, 184);
    margin-top: 20vh;
    width: 600px;
    margin: 20vh auto 0;
    padding: 20px;
}

#signup-form {
    background-color: rgb(64, 140, 184);
    margin-top: 20vh;
    width: 600px;
    margin: 20vh auto 0;
    padding: 20px;
}

/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}


/* Game Detail */

 #game-display {
    grid-area: content;
    padding: 2rem;
    /* background-color: rgb(112, 199, 236); */
    z-index: 1
}

#detail {
    max-width: 80%;
}

/* Avatar Image */
#avatar img {
    border-radius: 50%;
    padding: 5px;
    width: 130px;
  }

  /* Memory Game */
#game-title{
    text-align:center;
}

.row {
text-align:center;
}
.card{
    display:inline-block;
    width: 100px;
    height: 100px;
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xKloyZ6p5LdUKNY4K2TspwHaE8%26pid%3DApi&f=1); */
    background-color:  rgb(191, 223, 250);
    cursor:pointer;
}
.card:hover{
    box-shadow: inset 0px 0px 0px 3px black;
    box-sizing: border-box;
}
.red {
    background-color: red;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
.orange {
    background-color: orange;
}
.yellow {
    background-color: yellow;
}
.purple {
    background-color: purple;
}
.indigo {
    background-color: indigo;
}
.cyan {
    background-color: cyan;
}
.lightblue {
    background-color: lightblue;
}
.orangered {
    background-color: orangered;
}
.pink {
    background-color: pink;
}
.salmon {
    background-color: salmon;
}
.seagreen {
    background-color: seagreen;
}
.slategrey {
    background-color: slategrey;
}
.teal {
    background-color: teal;
}
.blueviolet {
    background-color: blueviolet;
}
.goldenrod {
    background-color: goldenrod;
}
.royalblue {
    background-color: royalblue;
}
.color-hidden {
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.xKloyZ6p5LdUKNY4K2TspwHaE8%26pid%3DApi&f=1);
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.JjEaq3vc0uw8rxfC_cS_AwHaE8%26pid%3DApi&f=1) */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.GAGKkuRmAYc6NbgksXCZ6gHaHa%26pid%3DApi&f=1); */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP._QK9B8MNTJppHo3BKcYAmQHaE8%26pid%3DApi&f=1); */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.8tYo5PRC_ys1qwRbwFTHywHaE8%26pid%3DApi&f=1); */
}
.card.done {
    cursor:default; 
}
.card.done:hover {
    cursor: default;
    box-shadow: none;
}

/* PIN LOGIN CSS */
.pin-login {
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    font-size: 28px;
    background:  #23a6d5;
    border: 2px solid #023135;
    box-shadow: inset 0px 0px 9px 3px rgb(35, 48, 241);
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: sans-serif;
  }
  
  .pin-login__text {
    margin: 10px auto 10px auto;
    padding: 10px;
    display: block;
    width: 50%;
    font-size: 0.5em;
    text-align: center;
    letter-spacing: 0.2em;
    background: rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: default;
  }
  
  .pin-login__text--error {
    color: #901818;
    background: #ffb3b3;
    animation-name: loginError;
    animation-duration: 0.1s;
    animation-iteration-count: 2;
  }
  
  @keyframes loginError {
    25% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
  }
  
  @-moz-keyframes loginError {
    25% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
  }
  
  .pin-login__key {
    width: 60px;
    height: 60px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.15);
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }

  .material-icons {
    display: inline-flex !important;
  }
  
  .pin-login__key:active {
    background: rgba(0, 0, 0, 0.25);
  }
  

  /* Prize Css */


#prize-display {
    grid-area: content;
    padding: 2rem;
    /* background-color: rgb(112, 199, 236); */
    z-index:1;
}
/* 
#game-display {
    grid-area: content;
    padding: 2rem;
    background-color: rgb(112, 199, 236);
} */
#prize-header{
    text-align:center;
    font-style: italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 28px;
}
#prize-p{
    text-align:center;
    font-style:italic;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
#prize-list{
    text-align:center;
    padding-left: 100px;
    /* padding-right:100px; */
}

  .prize-cards {
    /* display: flex; */
    /* display:block; */
    float:left;
    flex-wrap: wrap;
    list-style: none;
    margin: 1rem 0 0 0;
    padding: 0;
    /* marker: none; */
  }
  
  .prize-card {
    flex: 0 1 calc(25% - 1em);
    margin: 1rem 0.5em;
    /* display: flex; */
    text-align:center;
    flex-direction: column;
    border-style:double;
    padding:15px;
    /* overflow: hidden; */
    /* background-color: rgb(7 176 241 / 50%); */
    background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.tNSu0vbFsw4cB5b73yUcAAHaE8%26pid%3DApi&f=1);
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fd1yn1kh78jj1rr.cloudfront.net%2Fimage%2Fthumbnail%2FrDtN98Qoishumwih%2Fblueandgraypattern_8-091815-119_thumb.jpg&f=1&nofb=1); */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.0vRGl7OYFWIMtMPdYm7mWQHaD5%26pid%3DApi&f=1); */
    /* background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.thMkzNUYNOWabuJgtJjupgHaH6%26pid%3DApi&f=1); */
    animation: enter 0.25s ease-out;
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    
  }
  
  @keyframes enter {
    0% {
      transform: scale(0.9);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .prize-card .image {
    position: relative;
  }
  
  .prize-card .image img {
    width: 50%;
    height: 50%;
  }
  
  .prize-card .image .delete-button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background-color: var(--theme-alt);
    color: var(--alt-font-color);
  }
  
  .prize-card .content {
    padding: 1rem 0.5rem;
    flex: 1;
  }
  
  .prize-card .title {
    font-weight: 700;
    font-size: 1.1em;
    margin-bottom: 0.5rem;
  }
  
  .prize-card .description {
    color: var(--alt-font-color-light);
  }
  
  .prize-card .cost {
    font-style: italic;
  }
  
  .prize-card .button.buy-button {
    background-color: var(--theme-primary);
    /* color: var(--alt-font-color); */
    color: #e9e8f0;
    /* font-size: 24px; */
    text-shadow: 2px 2px 4px #000000;
    box-shadow: inset 0px 0px 9px 5px white;
    width: 70%;
    border-radius: 0%;
  }
  
  @media (min-width: 400px) and (max-width: 699px) {
    .prize-card {
      flex: 0 1 auto;
      margin: 1em 0;
    }
  }
  
  @media (min-width: 700px) and (max-width: 899px) {
    .prize-card {
      flex: 0 1 calc(50% - 2em);
      margin: 1em;
    }
  }
  
  @media (min-width: 900px) and (max-width: 1200px) {
    .prize-card {
      flex: 0 1 calc(33% - 2em);
      margin: 1em;
    }
  }

  button {
    cursor: pointer;
    font-size: 0.8rem;
    /* font-weight: 700; */
    padding: 0.75em 1.5em;
    transition: opacity 0.2s ease;
    border-radius: 50%;
    box-shadow: inset 0px 0px 9px 5px white;

    /* color: #e9e8f0;
    text-shadow: 2px 2px 4px #000000; */
  }
  
  .button:hover {
    opacity: 0.8;
  }

  .container {
    max-width: 90%;
    /* max-height: 500px */
    margin: 0 auto;
  }
  
  @media (min-width: 400px) {
    .container {
      width: 380px;
    }
  }
  
  @media (min-width: 700px) {
    .container {
      width: 600px;
    }
  }
  
  @media (min-width: 900px) {
    .container {
      width: 800px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      width: 1100px;
    }
}